.page {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebar {
    background-color: #16233b;
    width: 14rem;
    flex-shrink: 0;
}

main {
    flex: 1;
    background-color: #f7f4ec;
}

.top-row {
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.top-row a {
    margin-left: 0.75rem;
}

@media (max-width: 640.98px) {
    .page {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}